@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --main-color: #3d5afe;
    --main-color-dark: #253ab0;
}

* {
    color: black;
}

.text-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 12px;
}

h1 {
    margin: 0;
}

.main-color {
    color: var(--main-color);
}

p {
    font-size: 19px;
}

a.project-link {
    cursor: pointer;
}

a.project-link:hover {
    text-decoration: underline;
}

.code-coverage-link {
    padding: 12px;
    background-color: var(--main-color);
    border-radius: 8px;
    color: white;
    transition: background-color .3s;
}

.code-coverage-link:hover {
    background-color: var(--main-color-dark);
}